body{
  display: 100vh;
  width: 736px;
  
}

div, img{
  /*border: 1px solid red;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: purple;
  margin-bottom: 5px;
}

p{
  font-size: 11px;
}

p2{
  font-size: 11px;
}

.grid-container{
  display: grid;
  grid-template-rows: 200px 25px 75px 225px 150px;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

div.title h1{
  color: purple;
  font-size: 40px;
  margin-bottom: 10px;
}

div.image {
  background-color: pink;
  grid-row:  1/2;
  grid-column: 1/2;
  background-image: url("./Miley.avif");
  background-size: 100%;
}

div.title {
  /*background-color: lightblue;*/
  grid-row:  1/2;
  grid-column: 2/2;
}

div.line-1{
  height: 1px;
  background: purple;
  width: 400px;
}

div.contact {
  background-color: hotpink;
  grid-row:  2/6;
  grid-column: 1/2;
}

div.experience-section {
  /*background-color: rgb(255, 252, 99);*/
  grid-row:  2/3;
  grid-column: 2/2;
  padding-top: 10px;
}

div.line-2{
  height: 1px;
  background: purple;
  width: 400px;
}

div.experience{
  /*background-color: rgb(255, 167, 99);*/
  grid-row: 3/4;
  grid-column: 2/2;
}

div.history-section{
  /*background-color: rgb(221, 170, 255);*/
  grid-row:  4/5;
  grid-column: 2/2;
}

div.line-3{
  height: 1px;
  background: purple;
  width: 400px;
}

div.education-section {
  /*background-color: rgb(255, 99, 99);*/
  grid-row: 5/6;
  grid-column: 2/2;
}

div.line-4{
  height: 1px;
  background: purple;
  width: 400px;
}