body{
  margin: 0px;
}

.main-container{
  width: auto;
  height: 100vh;
  //border: 5px solid red;
}

.header{
  //border: 3px solid blue;
  background-color: rgb(5, 44, 71);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
}



h1{
  color:rgb(255, 255, 255);
  font-size: 35px;
  font-family: 'Jura';
  margin-bottom: 0px;
}

h2{
  font-size: 60px;
  color: rgb(248, 5, 212);
  font-family: 'Trade Winds';
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

h3{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Jura';
  width: 500px;
  margin-top: 0px;
}

header{
  background-color: rgb(180, 99, 255);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

nav > a {
  color: rgb(255, 255, 255);
  font-family: 'Jura';
  font-size: 15px;
  background: transparent;
  padding: 20px;
  text-align: center;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.profilePic{
  height: 450px;
  width: 300px;
  background-image: url(../images/myProfilePic.JPG);
  background-size: 100%;
  background-repeat: no-repeat;

}

@media (max-width: 576px){
  .header{
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .aboutMe{
    align-items: center;
  }
  h2{
    font-size: 45px;
  }
}

