body{
  display: 100vh;
  width: 630px;
}

div{
  font-family: 'Questrial';
  font-size: 12px;
  color: black;
}

h2{
  font-family: 'Windsong';
  font-size: 20px;
  color: rgb(248, 14, 131)
}

h3{
  font-size: 25px;
  font-family: 'Windsong';
  font-stretch: 40px;
  color: black;
}

p{
  font-size: 25px;
  padding-left: 20px;
}

p2{
  font-size: 12px;
}

p3{
  font-size: 13px;
  color: black;
}

.grid-container{
  display: grid;
  grid-template-rows: 200px 40px 65px 275px 125px;
  grid-template-columns: 1fr 2fr;
}

div.title h1{
  color: rgb(248, 14, 131);
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Windsong';
  padding-left: 20px;
}

div.image {
  background-color: pink;
  grid-row:  1/3;
  grid-column: 1/2;
  background-image: url("./Miley.avif");
  background-size: 116%;
}

div.title {
  background-color: lightblue;
  grid-row:  1/2;
  grid-column: 2/2;
}

div.line-1{
  height: 1px;
  background: black;
  width: 325px;
  margin-left: 20px;
}

div.experience-section {
  grid-row:  2/3;
  grid-column: 2/2;
  padding-left: 20px;
}

 div.contactInfo{
  grid-row: 3/6;
  grid-column: 1/2;
  background-color: rgb(248, 14, 131);
  color: white;
  font-size: 15px;
  text-align: center;
 }

div.experience{
  grid-row: 3/4;
  grid-column: 2/2;
  padding-top: 10px;
  padding-left: 20px;
}

div.history-section{
  grid-row:  4/5;
  grid-column: 2/2;
  padding-left: 20px;
}

div.education-section {
  grid-row: 5/6;
  grid-column: 2/2;
  padding-left: 20px;
}