body{
  margin: 0px;
}

.main-container{
  width: auto;
  height: 100vh;
  //border: 5px solid red;
 
}

.header{
  //border: 3px solid blue;
  background: rgb(91,33,195);
  background: radial-gradient(circle, rgba(91,33,195,1) 
  0%, rgba(190,29,253,1) 50%, rgba(31,32,164,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  /* flex: 1; */
  /* //align-items: :left;
  //justify-content: space-evenly; */
  min-height: 100vh;
  
}

.aboutMe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 700px;
}

.header h1{
  padding-left: 50px;
}


h1{
  color:rgb(255, 255, 255);
  font-size: 80px;
  font-family: 'Jura';
  margin-bottom: 0px;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h2{
  font-size: 60px;
  color: rgb(248, 5, 212);
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  padding-left: 50px;
}

/* h3{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Jura';
  width: 500px;
  margin-top: 0px;
} */ */

header{
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: none;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  background: transparent;
  
}

nav > a {
  color: rgb(255, 255, 255);
  font-family: 'Urbanist', sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  }

.Summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7,8,64, .5);
    padding: 50px 0px 0px 0px;
  
}

.profilePic{
  height: 325px;
  width: 300px;
  background-image: url(../images/ProfilePic.png);
  background-size: 95%;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 0;;

}

@media (max-width: 576px){
  .header{
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .aboutMe{
    align-items: center;
  }
  h2{
    font-size: 45px;
  }
}

